<h1> Here are all your friends: </h1>

<%@user.friends.each do |friend|%>
<p><a href='/friends/<%=friend.friend_id%>'><%=User.find(friend.friend_id).username%></a></p>
<%end%>

<form action="/friends/new">
    <input type="submit" value="Add Friend" />
</form>