<h1>Welcome to <%=@friend.username.capitalize%>'s Page </h1>

<h4>What would you like to do?</h4>

<form action="/friends/:user2_id/library">
    <input type="submit" value="View <%=@friend.username.capitalize%>'s Library" />
</form>

<form action="/friends/lists">
    <input type="submit" value="View <%=@friend.username.capitalize%>'s Lists" />
</form>

<form action="/friends/<%= @friend.id %>" method="post">
	<input type="hidden" name="_method" value="delete">
	<input type="submit" value="Remove Friend">
</form>