<h1>Add a Friend!</h1>
<p>Let other users have permission to view your lists and library.</p>

<form method="post" action="/friends">
    <p><label for="username">Search by Username: </label>
    <input type="text" name="username" id="username"/></p>
    
    <p><input type="submit" value="Submit"></p>
</form>