<h1>Oh No! Username not found.</h1>

<p>Unfortunately we couldn't find anyone by that username.</p>
<p>Would you like to try again?</p>

<form action="/friends/new">
        <input type="submit" value="Try Again" />
</form>

<form action="/friends">
        <input type="submit" value="Friend List" />
</form>