<form action="/logout">
    <input type="submit" value="Log Out" />
</form>


<h1> @list.name </h1>

<%@list.books(@friend.id, @list.name).each do |book| %>
<p><a href="/friends/<%=@friend.id%>/library/<%=book.id%>"><%=book.title%></a></p>
<%end%>