<h1> Welcome, <%=@user.username.capitalize%>!</h1>
<br> 
<br>

<h3>What would you like to do?</h3>


 <form action="/library">
    <input type="submit" value="View My Library" />
</form>

<form action="/lists">
    <input type="submit" value="View My Lists" />
</form>

<form action="/friends">
    <input type="submit" value="View My Friends" />
</form>

<form action="/logout">
    <input type="submit" value="Log Out" />
</form>
