<h1> Welcome, <%=@user.username%>!</h1>
<br> 
<br>

<h3>What would you like to do?</h3>


 <form action="/user/:id/library">
    <input type="submit" value="View My Library" />
</form>

<form action="/user/:id/lists">
    <input type="submit" value="View My Lists" />
</form>
