<div class="container">
  <header><img src="images/logo-UNBOUND-Book-Club.png" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Unbound Book Club</h2>

    <div class="content">
      <h4>Here, we do things different. We specialize in bringing people together who love books, but not rules.</h4>
    <br>
      <ul>
        <li>- Keep track of your library.</li>
        <li>- Create book lists.</li>
        <li>- View friend's book lists to get new reading inspiration.</li>
      </ul>
      <br>
    </div>

    

    <form action="/signup">
        <input type="submit" value="Sign Up" />
    </form>

    <form action="/login">
        <input type="submit" value="Log In" />
    </form>



  </div>
</div>
