<form action="/logout">
    <input type="submit" value="Log Out" />
</form>

<h1><%=@user.username.capitalize%>'s Lists</h1>

<%@user.lists.each do |list|%>
<p><a href="/lists/<%=list.id%>"><%=list.name%></a></p>
<%end%>

