<h1><%=@user.username.capitalize%>'s Lists</h1>

<%@user.lists.each do |list|%>
<p><a href="users/<%=@user.id%>/lists/<%=list.id%>"><<%=list.name%></a></p>
<%end%>

// list.id will not work with finding the list as it will be a collection of multiple books
// only list name and user id keeps the books organized