<form action="/logout">
    <input type="submit" value="Log Out" />
</form>


<h1><%=@list.name%></h1>

<%@user.lists.each do |list| %>
<%if list.name == @list.name%>
<p><a href="/library/<%=list.book.id%>"><%=list.book.title%></a></p>
<%end%>
<%end%>

