<form action="/logout">
    <input type="submit" value="Log Out" />
</form>


<h1> @list.name </h1>

<%@user.lists.where(name: @list.name).each do |list| %>
<%book = @user.books.where(list.book_id)%>
<p><a href="/library/<%=book.id%>"><%=book.title%></a></p>
<%end%>

